@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
}

.ant-menu-item-icon {
  font-size: 18px !important;
}

.ant-popover {
  max-width: 320px;
}

.ant-form-item-control-input-content textarea {
  border-radius: 20px;
}

.ant-tooltip-inner{
  min-width: fit-content !important;
  border-radius: 15px !important;
}

.ant-table-filter-dropdown{
  border-radius: 15px !important;
}

.menu-card-wrapper {
  -webkit-touch-callout: none; /* Disable the callout when long pressed on iOS */
  -webkit-user-select: none; /* Disable text selection on mobile Safari and Chrome */
  -moz-user-select: none; /* Older Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Modern browsers */
}
